## **Pandas Tutorial - Read/Write CSV/Excel Files**

In [1]:
import pandas as pd

import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
filepath = '/content/drive/My Drive/Colab Notebooks/Python Tutorials/AAPL_data.csv'

#df = pd.read_csv(filepath, skiprows=1)
#df = pd.read_csv(filepath, header=None) # when the file has no header

 # when the file has no header and you give the names
#df = pd.read_csv(filepath, header=None, names=['date', 'open', 'high', 'low', 'close', 'volume', 'name'])

#It will replace the values in the set with NaN values
#df = pd.read_csv(filepath, na_values=["not available", "n.a"])

#It will replace the values in the set with NaN values, including if it finds a -1
#df = pd.read_csv(filepath, na_values=["not available", "n.a", -1])

df = pd.read_csv(filepath, na_values={
    'eps':["not available", "n.a"],
    'revenue':["not available", "n.a", -1],
    'people':["not available", "n.a"]
})


# number of rows excluding header
df = pd.read_csv(filepath, nrows=3) 

#df = pd.read_csv(filepath)

df

         date     open     high      low    close     volume  Name
0  2013-02-08  67.7142  68.4014  66.8928  67.8542  158168416  AAPL
1  2013-02-11  68.0714  69.2771  67.6071  68.5614  129029425  AAPL
2  2013-02-12  68.5014  68.9114  66.8205  66.8428  151829363  AAPL

In [10]:
#Write to CSV file

df.to_csv("/content/drive/My Drive/Colab Notebooks/Python Tutorials/new.csv")

#df.to_csv("/content/drive/My Drive/Colab Notebooks/Python Tutorials", index=False)

**Manipulating Excel Files**

In [18]:
def convert_people_cell(cell):
  if cell == 'not available':
    return 'Diaz'
  return cell

def convert_name_cell(cell):
  if cell == 'not available':
    return 'Magdalena'
  return cell

df = pd.read_excel("/content/drive/My Drive/Colab Notebooks/Python Tutorials/Names.xlsx", 'Hoja1', converters={
    'LastName': convert_people_cell,
    'Name': convert_name_cell
})
df

#This creates an offset at which the columns and rows will be added
df.to_excel('/content/drive/My Drive/Colab Notebooks/Python Tutorials/My_File.xlsx', sheet_name='laPeople', startrow=1, startcol=2, index=False)

How to write an Excel with two sheets

In [22]:
namesAges = pd.DataFrame({'Name':['Tom', 'Jack', 'Steve', 'Ricky'],
             'Age':[28,34,29,42]})
namesDoB  = pd.DataFrame({'Name':['Miguel', 'Ana', 'Helicondia', 'Ricky'],
             'DoB':['1/1/2019','1/1/1999', '4/4/1998', '2/3/2001']})

filePath = '/content/drive/My Drive/Colab Notebooks/Python Tutorials/ExcelTwoSheets.xlsx'

with pd.ExcelWriter(filePath) as writer:
  namesAges.to_excel(writer, sheet_name='Ages')
  namesDoB.to_excel(writer, sheet_name='DoB')